FRAMEWORK_PROVIDER=
NEXT_PUBLIC_REST_API_ENDPOINT=
APPLICATION_MODE=
NEXT_PUBLIC_DEFAULT_LANGUAGE=
NODE_OPTIONS=--max_old_space_size=
NEXT_PUBLIC_ENABLE_MULTI_LANG=
NEXT_PUBLIC_AVAILABLE_LANGUAGES=
NEXT_PUBLIC_RAZORPAY_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
NEXTAUTH_URL=
SECRET=
NEXT_PUBLIC_VERSION=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=